PORT=5000
FRONTEND_URL=http://localhost:3000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/vidyasetu
GROQ_API_KEY=your_groq_api_key_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Security Secrets (Must be random, long strings in production)
JWT_ACCESS_SECRET=your_super_secret_access_key
JWT_REFRESH_SECRET=your_super_secret_refresh_key
